<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.square.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <activity
            android:name=".ui.activity.start.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartActivity" />

        <activity
            android:name=".ui.activity.main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.placeDetail.PlaceDetailActivity"
            android:parentActivityName=".ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CollapsingToolbarActivity" />

        <activity
            android:name=".ui.activity.review.ReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.selectOffer.SelectOfferActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GreyishStatusActivity" />

        <activity
            android:name=".ui.activity.claimedRedemption.ClaimedRedemptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.noConnection.NoConnectionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.tutorialVideos.TutorialVideosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.campaignFinished.CampaignFinishedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.campaignDetails.CampaignDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.passEligible.PassEligibleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteStatusActivity" />

        <activity
            android:name=".ui.activity.pickupMap.PickUpMapActivity"
            android:parentActivityName=".ui.activity.campaignDetails.CampaignDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CollapsingToolbarActivity" />

        <service android:name=".data.network.fcm.FirebaseMessagingService"
            android:stopWithTask="false"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".ui.base.tutorial.TutorialService"
            android:enabled="true"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="56a4e72e32090ced1d143edc3295897b2172276b" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

    </application>

</manifest>